html, body, .container {
  height: 99%;
}

.subpage {
  height : 30%;
}

#shout-output {
  font-weight: 900;
  font-size: 1000%;
}

#appointments-output {
  display: none;
}

button {
  vertical-align: bottom;
}

.hidden {
  background-color: green;
}